.item-enter {
    opacity: 0;
    transform: translateX(0%);
  }
  .item-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 200ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transform: translateX(0%);
    transition: opacity 300ms ease-in;
  }